{% extends 'base.html' %}
{% block title %}Reflect. My Month{% endblock %}
{% block body %}
  <div class="container h-100 d-flex flex-column justify-content-center align-items-center">
    <div class="card mx-auto text-center" style="width: 550px; max-width: 95%; background: #fffa;">
      <div class="card-body">
        <h1 class="text-primary mb-4">{{ data }}</h1>
        <div class="text-center">
          <a role="button" href="/" class="btn btn-danger w-100 mt-2">Back to home</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}